#Contact-Main{
    background: #1b1d1f;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Contact-Form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    background: linear-gradient(to bottom,#4ae6e6, #729bd5);
    height: 70vh;
    font-family: "Source Sans Pro", sans-serif;
    justify-content: center;
    border-radius: 2vw;
    font-size: clamp(20px, 1vw, 1.5vw);
    font-weight: bold;
    row-gap: 3vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin-left:30vw;
    margin-bottom: 10vh;
}

#Contact-Form > div{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:1vh;
    flex-direction: column;
    align-items: center;

}
#Contact-Form > div >input{
    width: 50%;
    height: 2vh;
    border-radius: .5vw;
    border: transparent;
    padding: .5vh;
    font-size: clamp(10px, 0.6vw, 1.5vw);

}
#Contact-Form > div >label{
    width: 50%;
    height: 2vh;
    border-radius: .5vw;
    border: transparent;
    padding: .5vh;
}

#Contact-Form > div >textarea{
    width: 50%;
    height: 20vh;
    border-radius: .5vw;
    padding: .5vh;
    resize: none;
    border: transparent;
    font-size: clamp(10px, 0.6vw, 1.5vw);

}

#SendButton{
    width: 6vw;
    padding: 0.5vw;
    border-radius: 1vw;
    border: transparent;
    margin-left: 25%;
    font-size: clamp(10px, 0.6vw, 1.5vw);
    font-weight: bold;

}

#SendButton:hover{
    
    background-color: #48CAE4;
    color: black;
    box-shadow: 0px 0px 10px 2px #a0e1d9;

}


#Blob-Container-Contact{
    width: 100vw;
    height: 100vh ;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

#Cyan-Green{
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    background-image: linear-gradient(45deg, #29ebd1 30%, rgb(0, 255, 81) 100%);
    animation: Yellow-Blue-Morph 20s linear infinite normal;
    width: 60vmin;
    height: 60vmin;
    transform: translate(0vw,15vh);
}

#Orange-Yellow{
    background-image: linear-gradient(45deg, #ecd493 25%, #efea66 100%);
    width: 40vmin;
    height: 40vmin;
    border-radius: 66% 34% 70% 30% / 40% 30% 70% 60% ;
    transform: translate(70vw,50vh);
    animation: Orange-Blue-Morph 15s linear infinite alternate;
}

#Red-Violet{
    border-radius: 84% 16% 59% 41% / 21% 80% 20% 79% ;
    background-image: linear-gradient(45deg, #ae2323 0%, rgb(255, 0, 242) 100%);
    transform: translate(80vw,10vh);
    animation: Red-Blue-Morph 10s linear infinite alternate;
}