#Skills-Main{
    background-color: #1b1d1f;

}

#Header-Content{
    justify-content: center;
    display: flex;
    flex-direction: column;
}


#Section-Header{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: clamp(30px, 1vw, 5vw);
    text-align: center;
    color: white;
    padding-top: 10vh;
}

#Section-Subtext{
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 4vh;
    
}

#List-Container{
    justify-content: center;
    padding-bottom: 4vh;
}
#List{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#List >li{
    background: linear-gradient(to bottom, #475c7a, #474040);
    height: fit-content;
    width: fit-content;
    border-radius: 2vw;
    margin: 2vw;

}

#List > li > img{
    height: 10vw;
    width: 10vw;
    padding: 1vw;
}

@keyframes yellow {
    
}

@keyframes blue {
    
}

@keyframes green {
    
}

@keyframes red {
    
}