#Skills-Main{
    background-color: #1b1d1f;
    width: 100%;
    height: 100vh;
    
}

#Header-Content{
    justify-content: center;
    display: flex;
    flex-direction: column;
}


#Section-Header{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: clamp(30px, 1vw, 5vw);
    text-align: center;
    color: white;
    padding-top: 10vh;
}

#Section-Subtext{
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 4vh;
    
}

#List-Container{
    justify-content: center;
    padding-bottom: 4vh;
}
#List1, #List2{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#List1 >li{
    background: linear-gradient(to bottom, #475c7a, #474040);
    height: fit-content;
    width: fit-content;
    border-radius: 2vw;
    margin: 2vw;

}

#List1 > li > img{
    height: 10vw;
    width: 10vw;
    padding: 1vw;
}

#List2 >li{
    background: linear-gradient(to bottom, #475c7a, #474040);
    height: fit-content;
    width: fit-content;
    border-radius: 2vw;
    margin: 2vw;

}

#List2 > li > img{
    height: 10vw;
    width: 10vw;
    padding: 1vw;
}
#Content-Container{
    z-index: 1;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#Blob-Container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.Blob{
    border-radius: 48% 52% 43% 77% / 63% 28% 72% 37%
}

.Yellow{
    transform: translate(10%,10%);
}

@keyframes yellow {
    
}

@keyframes blue {
    
}

@keyframes green {
    
}

@keyframes red {
    
}