#Education-Main{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/CompSciBG.jpg");
    background-position: 60% 30%;
    
}
#Education-Content{
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Education-Header{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: clamp(50px, 2.5vw, 7vw);
    text-align: center;
    color: black;
}

#Education-Container{
    margin-left: 12.5%;
    display: flex;
    justify-content: center;
    gap: 3vw;
    background: linear-gradient(to bottom, #475c7a, #474040);
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 75%;
    border-radius: 3vw;
    color: white;
}

#Education-Container span{
    font-family:"Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: clamp(30px, 1.5vw, 5vw);
}

#Coursework{
    text-align: left;
    font-size: clamp(20px, 1vw, 1.5vw);
    font-family: "Source Sans Pro", sans-serif;
}


#Stats{
    text-align: left;
    font-size: clamp(20px, 1vw, 1.5vw);
    font-family: "Source Sans Pro", sans-serif;
}