#Main{
  background-color: #1b1d1f;
  width: 100%;
}

.navbar{
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 4;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar > li > button{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2vw;
  background: #1b1d1f;
  color: white;
  width: 25vw;
  border: none;
  height: 5vh;

}

.navbar > li > button:hover{
  background: linear-gradient(#1b1d1f, #a0e1d9);

}

